{% extends 'base.html.twig' %}

{% block title %}Hello UpdateFormController!{% endblock %}

{% block header %}
    {% include 'layout/navbar.html.twig' %}
{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>
    This friendly message is coming from:
    <div class='form_container'>
    {{form_start(form)}}
        {{form_row(form.password)}}
        {{form_row(form.submit)}}
    {{form_end(form)}}
    {% if updated %}
        <div class="alert alert-success" role="alert">
            Mot de passe modifié
        </div>
    {% endif %}
    </div>
</div>
{% endblock %}
